
.label-num{
    -fx-border-radius: 25%;
    -fx-border-color: black;
}

.button-parking{
    -fx-background-color: transparent;
    -fx-border-color: cornflowerblue;
    -fx-border-radius: 10%;
    -fx-min-width: 100%;
    -fx-font-size: 20.0;
    -fx-text-fill: cornflowerblue;
    -fx-cursor: hand;
}

.button-parking:hover{

    -fx-text-fill: white;

}